.hero {
  background-image: url('../images/hero/hero_bg.svg');
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  font-family: 'senregular';
  height: 100vh;
  position: relative;
  z-index: 1;
}

.heading-hero {
  margin-top: 1.5em;
  font-size: 55px;
}

.hero-img-ruby-big {
  background-image: url('../images/hero/ruby-big.png');
  background-repeat: no-repeat;
  position: absolute;
  left: 75%;
  top: 40%;
  height: 200px;
  width: 200px;
}

.hero-img-ruby-small {
  background-image: url('../images/hero/ruby-small.png');
  background-repeat: no-repeat;
  position: absolute;
  top: 10%;
  left: 10%;
  height: 100px;
  width: 100px;
  z-index:0;
}
