.heading-info {
  position: relative;
  background: $color-alt;
  color: $text-color-lightest;
  padding: 1em;
  letter-spacing: 2px;
}

.paragraph-info {
  display: block;
  font-size: $font-content-big;
  margin: 0 auto;
  max-width: 70%;
  padding: 2.5em 0 1.5em 0;
}
