.signet-arrow {
  display: block;
  margin: 0 auto;
}

.about {
  max-width: 60%;
  margin: 0 auto;
  text-align: center;
  font-size: $font-content-big;
  padding: 2em 0 4em 0;

  span {
    font-family: 'senbold';
    text-transform: uppercase;
  }
}

.heading-primary {
  background: #fff;
  text-align: center;
  position: relative;
  z-index: 20;
  padding: 20px;
}

.half-screen-border {
  position: absolute;
  height: 72%;
  width: 50%;
  border-right: 2px solid $color-alt;
}

@media only screen and (max-width: 850px) {
  .half-screen-border {
    display: none;
  }
}

.ruby-icon {
  position: relative;
  top: -50px;
  display: block;
  margin: 0 auto;
  z-index: 0;
}

.fixed {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 200px;
  z-index: 10;
}

.static-top {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 26%;
  z-index: 1;
}

.static-bottom {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0px;
  z-index: 10;
}

@media only screen and (max-width: 850px) {
  .js-ruby-icon {
    display: none;
  }
}

.column-text {
  padding-left: 5em;
  margin: 0;
}

@media only screen and (max-width: 549px) {
  .column-text {
    padding-left: 0;
  }
}

.tilemline-container {
  width: 100%;
}

.timeline-image {
  width: 100%;
  box-sizing: border-box;
  padding-right: 2em;
}

.timeline-paragraph {
  font-size: $font-content-small;
}

.timeline-list {
  font-size: $font-content-small;
  list-style: none;

  > li:before {
    content: '- '
  }
}
