body {
  margin: 0;
  font-family: 'senregular';
  height: 100vh;
}

h2,
h3,
h4 {
  color: $color-alt;
}

.heading {
  font-size: $font-heading;
  letter-spacing: 1px;
}

.heading-medium {
  font-size: $font-heading-medium;
  padding-top: 1em;
}
