@font-face {
    font-family: 'senbold';
    src: url('../fonts/sen-bold-webfont.eot');
    src: url('../fonts/sen-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sen-bold-webfont.woff2') format('woff2'),
         url('../fonts/sen-bold-webfont.woff') format('woff'),
         url('../fonts/sen-bold-webfont.ttf') format('truetype'),
         url('../fonts/sen-bold-webfont.svg#senbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'senregular';
    src: url('../fonts/sen-regular-webfont.eot');
    src: url('../fonts/sen-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sen-regular-webfont.woff2') format('woff2'),
         url('../fonts/sen-regular-webfont.woff') format('woff'),
         url('../fonts/sen-regular-webfont.ttf') format('truetype'),
         url('../fonts/sen-regular-webfont.svg#senregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?67694430');
  src: url('../fonts/fontello.eot?67694430#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff?67694430') format('woff'),
       url('../fonts/fontello.ttf?67694430') format('truetype'),
       url('../fonts/fontello.svg?67694430#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}