.push-left {
  padding-left: 2em;
}

.push-down {
  padding-top: 2em;
}

.text-center {
  text-align: center;
}

.color-brand {
  color: $color-brand;
}

.color-alt {
  color: $color-alt;
}

.color-light {
  color: $text-color-light;
}

.color-lightest {
  color: $text-color-lightest;
}

.color-dark {
  color: $text-color-dark;
}

.margin-none {
  margin: 0;
}

.push-down-image {
  margin-top: 20%;
}

.image-position {
  position: relative;
  top: 10px;
}

.half-screen-border.full-height {
  height: 100%;
}

@media only screen and (max-width: 549px) {
  .push-down-image {
    padding-top: 0;
  }
}
