//colors
$color-brand: #f72f5e;
$color-alt: #736d6d;
$text-color-dark: #000;
$text-color-light: #cebdbd;
$text-color-lightest: #fff;

//font-sizes
$font-headings: 3.125em;
$font-headings-medium: 2.8125em;
$font-headings-small: 1.875em;
$font-content-big: 1.375em;
$font-content-small: 1.125em;